{{#layout}}

{{#each page.articlesList}} 

  {{#if draft}}
    <!-- do not list drafts -->
  {{else}}
    <div class="row article">

      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <!--link-to checks for broken links and we are dynamically generating them-->
        <a href="/{{filename}}">
          {{title}}
        </a>
        <br>

        {{#if updated}}
          <time class="article_date">{{updated}}</time>,
          <s>
            <time class="article_date">{{created}}</time>
          </s>
        {{else}}
          <time class="article_date">{{created}}</time>
        {{/if}}

        <!-- excerpt -->
        <a href="/{{filename}}">
          <summary class="article_description">{{description}}</summary>
        </a>

        <hr>
      </div>

    </div><!-- row -->
  {{/if}}

{{/each}}

{{/layout}}
