{{#layout}}

<article>

  <header>
    <div class="row row_max_w">
      <div class="col-xs-12">
        {{#if page.draft}}
          <strong>[DRAFT] Do not share yet please.</strong>
        {{/if}}
        <h1>{{page.title}}</h1>
      </div>
    </div>

    <div class="row row_max_w">
      <div class="col-xs-6">
        {{#if page.updated}}<s>{{/if}}
          <time class='post_date'>{{page.created}}</time>
        {{#if page.updated}}</s>{{/if}}
        <br>

        <time class='post_date'>{{page.updated}}</time>
        <br>
      </div>

      <div class="col-xs-6 text-right">
      </div>
    </div>

    <br>
  </header>

  <section class="row row_max_w">
    <div class="col-xs-12">
      <p>
        {{page.description}}
      </p>

      {{{markdown page.filename}}}
    </div>
  </section>

  <br>

  <footer>
    <div class="row row_max_w">
      <div class="col-xs-8 col-sm-10 text-right">
        <abbr title="Gast&oacute;n Iv&aacute;n Silva Echegaray">Gast&oacute;n I. Silva</abbr><br>
        <a href="https://twitter.com/givanse" class="twitter-follow-button" data-show-count="false">Follow @givanse</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <div class="col-xs-4 col-sm-2">
        <img src="/static/img/givanse.png" class="img-responsive avatar">
      </div>
    </div>

    <div class="row row_max_w">
      <br>
      <hr>

      <div class="col-xs-12">
        {{>share-buttons}}
      </div>

      <hr class="clearfix">

      <div class="col-xs-12">
        {{{disqus-comments identifier=page.filename title=page.title}}}
      </div>
    </div>
  </footer>

</article>

{{/layout}}
